<div>
  <div
    class="review"
    *ngFor="
      let review of reviews
        | paginate: { itemsPerPage: size, currentPage: pageNumber }
    "
  >
    <h4>{{ getReviewerName(review) }}</h4>
    <h5>{{ review.title }}</h5>
    <p>{{ review.comment }}</p>
    <p>Usefulness:{{ review.usefulness }}</p>
    <ngb-rating
      [max]="5"
      [(rate)]="review.ratings.Overall"
      [readonly]="true"
    ></ngb-rating>
    <br />
    <button class="btn btn-primary" (click)="showMoreOrLess(review)">
      {{ getShowMoreOrLess(review) }}
    </button>
    <div *ngIf="review.canShowMore">
      <p>Delivery time: {{ review.ratings.delivery_time }}</p>
      <p>Discounts and Offers: {{ review.ratings.discounts_and_offers }}</p>
      <p>Matches Description: {{ review.ratings.matches_description }}</p>
      <p>Matches Photo: {{ review.ratings.matches_photo }}</p>
      <p>Packaging: {{ review.ratings.packaging }}</p>
      <p>Price: {{ review.ratings.price }}</p>
    </div>
  </div>
  <div class="pagination-controllers">
    <pagination-controls
      (pageChange)="pageNumber = $event"
    ></pagination-controls>
  </div>
</div>
