.review {
  border: 1px solid #0000004a;
  border-radius: 5px;
  margin: 5px 0 10px 0;
  padding: 10px;
}

.review:hover {
  box-shadow: 0 2px 5px #ccc;
}

.pagination-controllers {
  margin: 0 auto 0 auto;
  max-width: 50%;
}

ngb-rating {
  font-size: 20px;
  color: brown;
}
button {
  height: 50px;
  padding: 5px;
  margin-top: 10px;
}
