.root {
  margin: 0 auto 0 auto;
  max-width: 50%;
}

.image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
