<div class="root">
  <div class="image">
    <img src="{{ product.imageUrl }}" alt="product-image" />
  </div>
  <h2>{{ product.title }}</h2>
  <p>{{ product.description }}</p>

  <app-pagination></app-pagination>
</div>
