.root {
  margin: 10px auto;
  max-width: 50%;
}

.viewerIds {
  display: flex;
}

.btn-primary {
  margin: 0 5px 0 0;
  background: green;
  flex: 1;
}

.btn-selected {
  background: #fff;
  color: green;
}

.product {
  border: 1px solid #0000004a;
  margin: 0 0 10px 0;
  border-radius: 5px;
  padding: 10px;
}

.product:hover {
  box-shadow: 0 2px 5px #ccc;
}

a {
  text-decoration: none;
  color: #000;
  display: flex;
}

.product-image {
  margin-right: 10px;
  border-radius: 5px;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  a {
    flex-direction: column;
  }
  .viewerIds {
    flex-direction: column;
  }
  .root {
    margin: 10px;
    max-width: 100%;
  }
  .btn-primary {
    margin: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .product-image {
    flex: 3;
  }
  .product-content {
    flex: 9;
  }
}
