<div class="root">
  <div>
    <h3>Choose any viewerId:</h3>
    <div class="viewerIds">
      <button
        *ngFor="let viewerId of viewerIds"
        [ngClass]="setClasses(viewerId)"
        (click)="setViewerId(viewerId)"
      >
        {{ viewerId }}
      </button>
    </div>
    <p>Current viewerId: {{ currentViewerId }}</p>
  </div>
  <div class="product" *ngFor="let product of products">
    <a
      [routerLink]="['product', product.id, 'reviews', currentViewerId]"
      [state]="{ data: product }"
    >
      <div class="product-image">
        <img src="{{ product.imageUrl }}" alt="product-image" />
      </div>
      <div class="product-content">
        <h2>
          {{ product.title }}
        </h2>
        <p>{{ product.description }}</p>
      </div>
    </a>
  </div>
</div>
